---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=denver,co&sort_by=best_match&term=thai
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer iF-JAi2M2msJd1CP86LnaNw4tdATpjDQMgf6k1S7jjbwc-IDxqgj3JD95wokHI4jYZU7CEcKo8kH0dF-P6X6lp7hf5KqbsiCWysxAOIzRTFuFNsZJoPXRtlSm3iYZXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-h8w8x; site=public_api_v3
      Ratelimit-Dailylimit:
      - '500.0'
      X-Zipkin-Id:
      - 90623f65921ce9eb
      Ratelimit-Remaining:
      - '482.0'
      Ratelimit-Resettime:
      - '2024-01-18T00:00:00+00:00'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-79-132-useast1aprod
      X-Extlb:
      - 10-65-79-132-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "TT0dqdc_YfaN5AlELRYSTQ", "alias": "aloy-modern-thai-denver",
        "name": "Aloy Modern Thai", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/7RiwlFpCWf0pNqwHri50zw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/aloy-modern-thai-denver?adjust_creative=WR8j6bjFy9ZvXPCb5KGzFw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WR8j6bjFy9ZvXPCb5KGzFw",
        "review_count": 763, "categories": [{"alias": "thai", "title": "Thai"}, {"alias":
        "bars", "title": "Bars"}, {"alias": "asianfusion", "title": "Asian Fusion"}],
        "rating": 4.5, "coordinates": {"latitude": 39.75426, "longitude": -104.99066},
        "transactions": ["delivery", "pickup"], "price": "$$", "location": {"address1":
        "2134 Larimer St", "address2": null, "address3": "", "city": "Denver", "zip_code":
        "80205", "country": "US", "state": "CO", "display_address": ["2134 Larimer
        St", "Denver, CO 80205"]}, "phone": "+13033799759", "display_phone": "(303)
        379-9759", "distance": 2718.960745630176}, {"id": "gN8o-SG2PgCQGYrOCkkqng",
        "alias": "liangs-thai-food-denver", "name": "Liang''s Thai Food", "image_url":
        "https://s3-media2.fl.yelpcdn.com/bphoto/9_RGrE1oyWgDWu7pofvtPg/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/liangs-thai-food-denver?adjust_creative=WR8j6bjFy9ZvXPCb5KGzFw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WR8j6bjFy9ZvXPCb5KGzFw",
        "review_count": 434, "categories": [{"alias": "thai"[...]
